<div>
  <div class="heading">
    <span>Dop</span>
    <span>Detector</span>
  </div>

  <div class="line-container">
    <div class="animated-line"></div>
  </div>

  <main class="content">
    <ng-container [ngSwitch]="activeComponent">
      <app-customer *ngSwitchCase="'customer'"></app-customer>
      <app-drinks *ngSwitchCase="'drinks'"></app-drinks>
    </ng-container>
  </main>
  
  <div class="line-container2">
    <div class="animated-line2"></div>
  </div>

  <div class="footer">
    <div>
      <button (click)="switchComponent('customer')">Customer</button>
      <button (click)="switchComponent('drinks')">Drinks</button>
    </div>
  </div>
</div>  
 


