@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --green: #435851;    /* Example: your current body background */
  --gun: #808881;  /* Example: a light color for text */
  --alabaster: #EFEEE5;     /* Example: an accent color for buttons or highlights */
  --timber: #CCC7BD
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    font-family: "Lato", serif;
    min-height: 100vh;
  }


.heading {
    font-size: xx-large;
    color: var(--alabaster);
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding: 1rem;
    font-style: medium;
}

.content {
  height: 45.5rem;
  padding: 2rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: xx-large;
  width: 100%;
  font-weight: 300;
  color: var(--alabaster);
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding: 2rem;
  justify-content: flex-end; /* Aligns content to the right */
  align-items: flex-end;
}


.line-container {
  width: 100%; /* Full-width container */
  overflow: hidden; /* Prevents any extra width issues */
}

.animated-line {
  width: 0; /* Start with zero width */
  height: 2px; /* Adjust thickness */
  background-color: var(--gun); /* Line color */
  animation: grow 2s ease-in-out forwards; /* Apply animation */
}

@keyframes grow {
  from {
      width: 0;
  }
  to {
      width: 85%; /* Line grows left to right */
  }
}

.line-container2 {
  width: 100%; /* Full-width container */
  overflow: hidden; /* Prevents any extra width issues */
}

.animated-line2 {
  width: 100%; /* Start with full width */
  height: 2px; /* Adjust thickness */
  background-color: var(--gun); /* Line color */
  transform-origin: right center; /* Set the origin point to the right */
  animation: growFromRight 2s ease-in-out forwards; /* Apply animation */
}

@keyframes growFromRight {
  from {
    transform: scaleX(0); /* Start fully scaled down */
  }
  to {
    transform: scaleX(0.85); /* Scale to 85% of full width */
  }
}
